@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 720px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    /*
    background: #f2f2f2;
    */
    width: 100%;
    border: 0;
    /*margin: 0 0 15px;*/
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.form label {

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.form .buttonlogin {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;

    cursor: pointer;
}

.form .buttonlogin:hover, .form .buttonlogin:active, .form .buttonlogin:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .message_15px {
    margin: 15px 0 0;
    color: #8d8b8b;
    font-size: 15px;
}

.form .bigmessage {
    margin: 15px 0 0;
    color: #807f7f;
    font-size: 20px;
}

.form .message_15px a {
    color: #4CAF50;
    text-decoration: none;
}

.form .message_15px row {
    margin: 40px 0;
}


.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* General Styles */

input[type="number"] {
    position: relative;
    margin: 0 0 0rem;
    border: 0px solid #BBB;
    background: #c2dda2;
    /*    border-color: #BBB #ECECEC #ECECEC #BBB;*/
    padding: .0rem;
    text-align: center;
    cursor: auto;
}

/* Spin Buttons modified */
input[type="number"].mod::-webkit-outer-spin-button,
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    margin: 0 0 0rem;
    /*
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    */
    width: 1em;
    font-weight: bold;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active {
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}




input[type="number"].mod-no-spin::-webkit-inner-spin-button,
input[type="number"].mod-no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: #f2f2f2;
}
input[type="number"].mod-no-spin{
    -moz-appearance:textfield;
    background: #f2f2f2;
}

input[type="text"].mod-no-spin{
    margin: 0;
    padding: 0;
}


/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}