<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование подразделения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <th:block th:include="common/head.html :: head"></th:block>
    <link rel="stylesheet" href="/static/logincss2.css">
    <link rel="stylesheet" href="/static/tableemp.css">
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<div class="form">
<form class="login-form" method="post">
    <form class="register-form">
    <input type="hidden" th:value="${_csrf.token}" name="_csrf" placeholder="_csrf">
    <input type="hidden" name="deptId" th:value="${dept.id}" placeholder="_deptid">
    <p class="bigmessage">
        Редактирование подразделения
        <a href="/depts">назад</a>
    </p>
    <table class="container-table">
        <tr>
        <td>
            Наименование:
        </td>
            <td>
                <input type="text" name="deptname" th:value="${dept.deptname}" placeholder="Название подразделения">
            </td>
        <td>
            <select name = "selectedSupervisor">
                <option disabled selected = "selected" value="Укажите ответственного" name="newsupervisor">Укажите руководителя</option>
                <option th:each="user:${users}" th:text="${user.username}" th:value="${user.id}"></option>
            </select>
        </td>
        </tr>
    </table>
    <button class="buttonlogin" formaction="/depts/add">Добавить нового</button>
    </form>
</form>
</div>
</body>
</html>