<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Depts editor</title>
    <div th:insert="~{common/head :: head}"></div>
    <link href="/static/tableemp.css" rel="stylesheet">
    <link href="/static/logincss2.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<p>

</p>

<div class="form">
    <form action="/hello" class="login-form" method="get">
        <form class="register-form">
            <p class="bigmessage h2">Список отделов</p>

            <table class="container-table">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Ответственный</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dept: ${depts}">
                    <td th:name="${dept.deptname}" th:text="${dept.deptname}" style="text-align: left; text-indent: 5px"></td>
                    <div th:if="${dept.supervisor != null}">
                        <td th:text="${dept.supervisor.username}"></td>
                    </div>
                    <div th:unless="${dept.supervisor != null}">
                        <td th:text="null"></td>
                    </div>
                    <td><a th:href="@{'/depts/' +${dept.id}}">edit</a></td>
                </tr>
                </tbody>
            </table>
            <p>
            </p>
            <button class="buttonlogin" style="width: 650px; border-radius: 4px 4px 0 0; border: 1px solid #2E3E2B"
                    type="submit">Вернуться назад
            </button>
        </form>
    </form>
</div>
<!--<span><a href="/gotohello">Back</a></span>-->
</body>
</html>