<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Depts editor</title>
    <div th:insert="~{common/head :: head}"></div>
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<h3>Список отделов</h3>

<div>
    <table class="container-table">
        <thead>
        <tr>
            <td>Deptname</td>
            <td>Supervisor</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dept: ${depts}">
            <td th:text="${dept.deptname}" th:name="${dept.deptname}"></td>
            <td th:text="${dept.supervisor.username}"></td>
        </tr>
        </tbody>
    </table>
    <form action="/depts/add" method="post">
        <input type="hidden" th:value="${_csrf.token}" name="_csrf" placeholder="_csrf">
        <div class="row">
            <div class="left-column"><label th:name="newdeptnamelabel">Name:</label></div>
            <div class="right-column"><input type="text" name="deptname"></div>
        </div>
        <div class="row">
            <div class="left-column">
                <label>Supervisor:</label>
            </div>
            <div class="right-column">
                <select name = "selectedSupervisor">
                    <option disabled selected = "selected" value="Укажите руководителя" name="newsupervisor">Укажите руководителя</option>
                    <option th:each="user:${users}" th:text="${user.username}" th:value="${user.id}"></option>
                </select>
            </div>
        </div>
        <button type="submit">Add new dept</button>
    </form>

</div>
<span><a href="/gotohello">Back</a></span>
</body>
</html>