<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка приложения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <th:block th:include="common/head.html :: head"></th:block>
    <link rel="stylesheet" href="/static/logincss2.css">
    <link rel="stylesheet" href="/static/tableemp.css">
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<p></p>
<div class="form">
    <input type="hidden" th:value="${_csrf.token}" name="_csrf" placeholder="_csrf">
    <form class="login-form" method="get">
        <form class="register-form">
            <p class="bigmessage h2">Непредвиденная ошибка</p>
            <div><p><strong>Сообщение об ошибке:</strong></p></div>
            <div th:if="${message!=null}">
                <p th:text="${message}"></p>
            </div>
            <div><p><strong>Метод, вызвавший исключение:</strong></p></div>
            <div th:if="${method!=null}">
                <p th:text="${method}"></p>
            </div>
            <button class="buttonlogin" type="submit" formaction="/login" >Вернуться назад</button>
        </form>

    </form>
</div>
</body>
</html>