<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка приложения</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
    <th:block th:include="common/head.html :: head"></th:block>
    <link href="/static/logincss2.css" rel="stylesheet">
    <link href="/static/tableemp.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<p></p>
<div class="form">
    <input name="_csrf" placeholder="_csrf" th:value="${_csrf.token}" type="hidden">
    <form class="login-form" method="get">
        <form class="register-form">
            <p class="bigmessage h2">Непредвиденная ошибка</p>
            <div><p><strong>Сообщение об ошибке:</strong></p></div>
            <div th:if="${message!=null}">
                <p th:text="${message}"></p>
            </div>
            <div><p><strong>Описание ошибки:</strong></p></div>
            <div th:if="${stringmessage!=null}">
                <p th:text="${stringmessage}"></p>
            </div>
            <div><p><strong>Метод, вызвавший исключение:</strong></p></div>
            <div th:if="${method!=null}">
                <p th:text="${method}"></p>
            </div>
            <button class="buttonlogin" formaction="/login" type="submit">Вернуться назад</button>
        </form>

    </form>
</div>
</body>
</html>