<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Записка по личному составу</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/logincss.css">
    <th:block th:include="common/head.html :: head"></th:block>
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<p></p>
<div class="form">
    <form class="login-form" th:action="@{/logout}" method="post">
        <p class="bigmessage h2" th:inline="text">Здравствуйте, [[${#httpServletRequest.remoteUser}]]!</p>
        <p class="bigmessage">сегодня [[${today}]], ваш отдел: [[${department}]]</p>
        <div th:if="${isAdmin}">
            <p class="message_15px">Пользователи: <a href="/user">изменить</a></p>
        </div>
        <div th:if="${isAdmin}">
            <p class="message_15px">Подразделения: <a href="/depts">изменить</a></p>
        </div>
        <div th:if ="${department==null}">
            <p class="message_15px">Вам не назначено подразделение.</p>
        </div>
        <p class="message_15px">Подразделение:</p>

        <table style="margin-left: auto; margin-right: auto">
            <tr>
                <td colspan="2">
                    <select style="margin: 0px"
                            th:name="dept2table"
                            th:id="dept2table">
                        <div th:if="${isAdmin==true}">
                            <option th:each="deptwrapper : ${deptlist}"
                                    th:selected="${deptwrapper.getDepartment().getDeptname() == department}"
                                    th:text="${deptwrapper.isGroup()==true ? deptwrapper.getDepartment().getDeptname(): #strings.append('-  ',deptwrapper.getDepartment().getDeptname())}"
                                    th:value="${deptwrapper.getDepartment().getExtCode()}"
                                    th:disabled="${deptwrapper.isGroup()}"
                                    th:style="${deptwrapper.isGroup()==true? 'font-weight: bold; text-color: #198754' : '' }">
                            </option>

                        </div>
                        <div th:unless="${isAdmin==true}">
                            <option
                                    selected="${department}"
                                    th:text="${department}"
                                    th:value="${departmentextcode}"></option>
                        </div>
                    </select>
                </td>

            </tr>
            <!--</table>-->

            <div th:if="${department!=null || isAdmin ==true}">
                <tr>
                    <td colspan="2"><p class="message_15px">Данные сотрудников за</p>
                    </td>
                </tr>
                <!--<table style="margin-left: auto; margin-right: auto">-->
                <tr>
                    <td>
                        <input style="margin: 0px" type="date" name="today" id="today" th:value="${#dates.format(startMonth,'yyy-MM-dd')}" th:readonly="${isAdmin==false}">
                    </td>
                    <td>
                        <button class="buttonlogin" formaction="/docs" th:method="get">изменить</button>
                    </td>
                </tr>
                <th:block th:if="${isAdmin == true}">
                    <tr style="height: 10px">
                        <td colspan="2">
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="buttonlogin" formaction="/docs/bigtable">Показать свод за день</button>
                        </td>
                    </tr>
                    <p></p>
                </th:block>

                <!--</table>-->
                <tr>
                    <td colspan="2">
                        <p class="message_15px">Табель подразделения за:</p>
                    </td>
                </tr>
                <!--<table style="margin-left: auto; margin-right: auto">-->
                <tr>
                    <td>
                        <input style="margin: 0px; max-width: 176px" type="month"
                               th:name="date2table"
                               th:readonly="${isAdmin==false}"
                               th:value="${#dates.format(startMonth,'yyyy-MM')}">
                    </td>
                    <td>
                        <div th:if="${department!=null || isAdmin ==true}">
                            <button class="buttonlogin" formaction="/docs/table">показать</button>
                        </div>
                    <td>
                </tr>
                <tr>
                    <td colspan="2"><p class="message_15px">Данные по учету ГСМ за:</p></td>
                </tr>

                <tr>
                    <td>
                        <input style="margin: 0px; max-width: 176px" type="month"
                               th:name="date2fueltable"
                               th:readonly="${isAdmin==false}"
                               th:value="${#dates.format(startMonth,'yyyy-MM')}">
                    </td>
                    <td>
                        <div th:if="${department!=null || isAdmin ==true}">
                            <button class="buttonlogin" formaction="/docs/fuel">изменить</button>
                        </div>
                    <td>
                </tr>

                <!--</table>-->

                <tr>
                    <td colspan="2">
                        <button class="buttonlogin" type="submit">Выход</button>

                    </td>
                </tr>
            </div>
        </table>

    </form>
</div>

</body>
</html>