<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login form</title>
    <link rel="stylesheet" href="/static/logincss.css">
    <link rel="icon" href="/static/minilogo.png">
</head>
<body>
<div class="login-page">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="form">
        <form class="login-form" th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name = "password" placeholder="password"/>
            <button>login</button>
        </form>
        <p class="message">Not registered? <a th:href="@{/registration}">Create an account</a></p>
    </div>
</div>
</body>
</html>