<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Регистрация аккаунта</title>
    <th:block th:include = "common/head.html :: head"></th:block>
    <link rel="stylesheet" href="/static/logincss.css">
</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<p>

</p>
<div class="login-page">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="form">
        <p class="bigmessage">Регистрация нового пользователя</p>
        <form class="login-form"  name="reg" th:action="@{/registration}" method="post">
            <input type="text" name="username" placeholder="Введите логин"/>
            <input type="email" name="email" placeholder="Введите email"/>
            <input type="password" name = "password" placeholder="password"/>
            <button class="buttonlogin">создать аккаунт</button>
        </form>
        <p class="message">Уже регистрировались? <a th:href="@{/login}">Войти</a></p>
    </div>
</div>
</body>
</html>