<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация нового пользователя</title>
    <link rel="stylesheet" href="/static/logincss.css">
    <link rel="icon" href="/static/minilogo.png">
</head>
<body>
<div class="login-page">
    <div th:if="${errorUserExists}">
        User exists!
    </div>
    <div class="form">
        <form class="login-form" th:action="@{/registration}" method="post">
            <p class="message">Create an account</p>
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name = "password" placeholder="password"/>
            <button>Create account</button>
        </form>
        <p class="message">Already registered? <a th:href="@{/login}">Login</a></p>
    </div>
</div>
</body>
</html>