<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация нового пользователя</title>
    <!--    <link rel="stylesheet" href="/static/logincss.css">-->
    <link href="/static/reg.css" rel="stylesheet">
    <link href="/static/minilogo.png" rel="icon">
</head>
<body>
<div class="login-page">
    <div th:if="${errorUserExists}">
        User exists!
    </div>
    <div class="form">
        <form class="login-form" method="post" th:action="@{/registration}">
            <p class="message">Create an account</p>
            <p class="row">
            <div class="left-column">
                <label for="email">e-mail</label>
            </div>
            <div class="right-column">
                <input id="email" name="email" placeholder="email" type="text"/>
            </div>
            </p>

            <label>username</label>
            <input name="username" placeholder="username" type="text"/>
            <label>password</label>
            <input name="password" placeholder="password" type="password"/>
            <button>Create account</button>
        </form>
        <p class="message">Already registered? <a th:href="@{/login}">Login</a></p>
    </div>
</div>
</body>
</html>