<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <th:block th:include="common/head.html :: head"></th:block>
    <link href="/static/tableemp.css" rel="stylesheet">
    <link href="/static/logincss2.css" rel="stylesheet">

</head>
<body>
<div th:insert="~{common/body :: body}"></div>
<p>

</p>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="get">
<!--        <form action="/hello" class="login-form" method="get">-->
            <table class="container-table" th:name="main_table">
                <p class="bigmessage">Список пользователей</p>
                <thead>
                <tr>
                    <td>id</td>
                    <td>Логин</td>
                    <td>Роли</td>
                    <td>Активный</td>
                    <td>E-mail</td>
                    <td>Код активации</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>

                <!--/*@thymesVar id="users" type="com.timers.timetable.controller.usermanagement.UserController"*/-->
                <tr th:each="user :${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${#strings.toString(user.roles)}">
                    <td><input name="active" th:checked="${user.active}" th:disabled="true" type="checkbox"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.activationCode}"></td>
                    <td><a th:href="@{'/user/' +${user.id}}">edit</a></td>
                </tr>

                </tbody>

            </table>
            <p>

            </p>
            <button class="buttonlogin"
                    type="submit" formaction="/user/addmanualy">
                Добавить пользователя
            </button>
            <p>

            </p>
            <button class="buttonlogin"
                    type="submit" formaction = "/hello">Вернуться назад
            </button>
            <!--            <span><a href="/hello">Back</a></span>-->
        </form>
    </div>
</div>
</body>
</html>