<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<div class="form">

    <form class="login-form" name="reg" th:action="@{/resetpassword}" method="post">
        <p class="bigmessage">Сброс пароля</p>
        <input type="hidden" th:name = "userId" th:value="${user.id}"/>
        <input type="hidden" th:name="activationCode" th:value="${user.activationCode}"/>
        <div>
            <input type="password" name = "password" autocomplete="new-password"
                   th:class="${passwordError!=null ? 'form-control is-invalid' :'form-control'}"
                   placeholder="пароль"/>

            <div class="invalid-feedback">
                <p th:text="${passwordError}"></p>
            </div>

        </div>

        <div>
            <input type="password" name = "password2"
                   th:class="${password2Error!=null? 'form-control is-invalid' :'form-control'}"
                   placeholder="подтверждение пароля"/>
            <div class="invalid-feedback"><p th:text="${password2Error}"></p> </div>
        </div>
        <button class="buttonlogin" type="submit">Сбросить пароль</button>
    </form>

</div>

</html>
