<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<div class="form">

    <form class="login-form" method="post" name="reg" th:action="@{/resetpassword}">
        <p class="bigmessage">Сброс пароля</p>
        <input th:name="userId" th:value="${user.id}" type="hidden"/>
        <input th:name="activationCode" th:value="${user.activationCode}" type="hidden"/>
        <div>
            <input autocomplete="new-password" name="password" placeholder="пароль"
                   th:class="${passwordError!=null ? 'form-control is-invalid' :'form-control'}"
                   type="password"/>

            <div class="invalid-feedback">
                <p th:text="${passwordError}"></p>
            </div>

        </div>

        <div>
            <input name="password2" placeholder="подтверждение пароля"
                   th:class="${password2Error!=null? 'form-control is-invalid' :'form-control'}"
                   type="password"/>
            <div class="invalid-feedback"><p th:text="${password2Error}"></p></div>
        </div>
        <button class="buttonlogin" type="submit">Сбросить пароль</button>
    </form>

</div>

</html>
